<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div th:fragment="nav" class="topnav">
            <a href="/">Home</a>
            <a href="/tasks">Tasks</a>
            <a href="/overview">Overview</a> 
            <a href="/contact">Contact</a>
            <a href="/about">About</a> 
        </div>

        
    </body>
    <footer th:fragment="footer">
        <div class="foot">
            <footer>&copy; 2026 My Spring Boot-project</footer>
        </div>
    </footer>
</html>