<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/layout :: head}">
        <title>Overview</title>
    </head>
    <body class="bg">
        <div class="center">
            <div th:replace="~{fragments/layout :: nav}"></div>
            <h1 class="about-me-header">Overview</h1>
            <p>
            This page shows an overview of what is implemented in this website. Currently, this Spring Boot website has:
            <br>    - 5 thymeleaf pages (6 if you count the redirect page after the 'Contact'-page)
            <br>    - A POST-form (accessible <a href=/contact>here</a>)
            <br>    - fragments for a navigation bar and a footer
            <br>    - CSS-styling
            <br>    - Two APIs (<a href="/api/tasks">tasks</a>, <a href="/api/student-attendance">student-attendance</a>)
            <br>    - th:each/th:if (<a href="/tasks">this page</a>)
            </p>
        </div>
    </body>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</html>